<!--
version 2022.02.02.1
-->

<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
	    <title>xu_zh's Server Manager</title>
        <link rel="stylesheet" href="css/app.css">
        <script src="https://cdn.jsdelivr.net/npm/appwrite@6.0.1"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.11/dist/vue.global.prod.js"></script>
        <!--<script src="https://cdn.jsdelivr.net/npm/vue@3.2.11"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </head>
    <body>
        <div id="app">
            <div id="login">
                <ul>
                    <li><input type="email" v-model="email" v-bind:disabled="loggedin" placeholder="email"></li>
                    <li><input type="password" v-model="password" v-bind:disabled="loggedin" placeholder="password"></li>
                    <li>Save session:<input type="checkbox" v-model="save_session"></li>
                    <li>
                        <button v-on:click="createSession" v-bind:disabled="loggedin">Login</button>
                        <button v-on:click="deleteSession" v-bind:disabled="!loggedin">Logout</button>
                    </li>
                </ul>
            </div>
            <div id="listbox">
                <button v-on:click="refreshDocuments" v-bind:disabled="!loggedin">Refresh</button>
                <button v-on:click="saveDocument" v-bind:disabled="!loggedin">Save</button>
                <table id="list">
                    <tr><th width="10%">Name</th><th width="10%">Date</th><th width="5%">Authorize?</th><th>Status</th></tr>
                    <tr v-for="document in documents">
                        <td>{{document.name}}</td>
                        <td>{{document.date}}</td>
                        <td>
                            <span v-if="document.status==0 || document.status==1">
                                Upgrade?
                                <input type="checkbox" v-model="document.status" false-value="0" true-value="1">
                            </span>
                            <span v-if="document.status==2 || document.status==3">
                                Autoremove?
                                <input type="checkbox" v-model="document.status" false-value="2" true-value="3">
                            </span>
                        </td>
                        <td>
                            <span v-if="document.status==-1">
                                Error: {{document.msg}}
                            </span>
                            <span v-if="document.status==0 || document.status==1">
                                <table width="100%" class="document">
                                    <tr><th width="40%">Name</th><th width="5%">Hold?</th><th>New Version</th><th>Old Version</th></tr>
                                    <tr v-for="prog in document.progs">
                                        <td>{{prog.name}}</td>
                                        <td><input type="checkbox" v-model="prog.hold"></td>
                                        <td>{{prog.version[0]}}</td>
                                        <td>{{prog.version[1]}}</td>
                                    </tr>
                                </table>
                            </span>
                            <span v-if="document.status==2 || document.status==3">
                                Success!
                            </span>
                            <span v-if="document.status==4">
                                All Done!
                            </span>
                            <span v-if="document.status==5">
                                Up to date
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>

