
.vscode/launch.json

client/modules/__pycache__
client/system_update/conf.json
client/system_update/conf-old.json
client/system_update/*.log

frontend/js/conf.js
frontend/js/conf-old.js

test.js
test.py
test_server.py
